# Ignorar archivos temporales y de desarrollo
*.log
*.tmp
*.swp
*.bak
*.original
*.sql
*.sqlite
*.env

# Ignorar configuraciones específicas de IDEs
.vscode/
.idea/
*.iml

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar node_modules y herramientas de frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar Composer y dependencias no necesarias
vendor/
composer.lock

# Ignorar el cache del servidor
cache/
*.cache

# Ignorar backups y bases de datos locales
*.tar.gz
*.zip

# Ignorar todo el contenido dinámico subido
wp-content/*

# Permitir excepciones específicas dentro de wp-content
!wp-content/plugins/
!wp-content/themes/

# Ignorar configuraciones locales
wp-config.php
wp-config-sample.php

# Ignorar configuraciones de WP-CLI (si se usan)
wp-cli.local.yml
wp-cli.yml
